body > * {
	font-family: Roboto, "Malgun Gothic", sans-serif;
}

#footer {
  height: 60px;
}
#footer a {
	color: #999;
}
#footer .container .text-muted {
  margin: 20px 0;
}

#gr2dndUpload {
	position: relative;
	background-color: #ffffea;
	border: #ddd 3px dashed;
	height: 100px;
}
#gr2dndUpload img {
	width: 85px;
	height: 85px;
}
#gr2dndUpload.hover {
	border: #0c0 3px dashed;
}
#gr2dndMsg { 
	position: absolute;
	top: 5px;
	right: 5px;
	color: #999;
}
#blogWriteOptions label {
	margin: 0 15px 0 0;
}

#blogLoginBox {
	width: 300px;
	margin: auto;
}

#blogSidebar a {
	color: #aaa;
}

#blogSidebar a:hover {
	color: #eee;
	text-decoration: none;
}

#blogSidebar > div {
	margin-bottom: 10px;
}

#blogLeaveReply {
	margin-top: 20px;
}

#blogPostLists > div {
	margin-bottom: 20px;
}

#blogPostLists .card-header a {
	color: #3e3e3e;
	font-weight: bold;
}

#blogPostLists .card-header a:hover {
	color: #666;
	text-decoration: none;
}

#blogWriteSidebar {
	margin: 20px 0 0 0;
}

#blogWriteSidebar > div {
	margin-bottom: 15px;
}

.blog-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: normal;
}

.blog-description {
  font-size: 20px;
  color: #999;
  padding: 10px 0 10px 0;
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
}

.blog-guest-reply {
	margin-left: 40px;
}

.draft {
	font-weight: bold;
	color: #C03F3A;
}
