#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#footer {
  height: 60px;
}
#footer .container .text-muted {
  margin: 20px 0;
}
.size-text-normal { font-size: .85em; }
.overflow-hidden { overflow-x: hidden; }

#gr2dndUpload {
	position: relative;
	background-color: #ffffea;
	border: #ddd 3px dashed;
	height: 100px;
}
#gr2dndUpload img {
	width: 85px;
	height: 85px;
}
#gr2dndUpload.hover {
	border: #0c0 3px dashed;
}
#gr2dndMsg { 
	position: absolute;
	top: 5px;
	right: 5px;
	color: #999;
}
#blogWriteOptions label {
	margin: 0 15px 0 0;
}

#blogLoginBox {
	width: 300px;
	margin: auto;
}

#blogWriteSidebar {
	padding: 145px 0 0 20px;
}

#blogWriteSidebar .radio {
	padding: 0;
	margin: 0;
}

#blogWriteButtons .wide-btn {
	width: 260px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-nav {

}
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  border-right:  5px solid transparent;
  border-left:   5px solid transparent;
  border-bottom: 5px solid;
}

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

.blog-post {
  margin-bottom: 20px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
}

.blog-guest-reply {
	margin-left: 40px;
}

.draft {
	font-weight: bold;
	color: #C03F3A;
}
