#GRBOARD2 {
	font-size: 12px;
	color: #555;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
}

#GRBOARD2 a {
	text-decoration: none;
	color: #333;
}

#GRBOARD2 div.category {
	border-top: #dfdfdf 1px solid;
	padding: 10px;
}

#GRBOARD2 div.category span {
	color: #ddd;
	font-weight: bold;
}

/* fake bootstrap style */

#GRBOARD2 .gr-btn {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
}

#GRBOARD2 .gr-btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

#GRBOARD2 .gr-btn-default:hover {
	background-color: #eee;
}

#GRBOARD2 .gr-btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}

#GRBOARD2 .gr-btn-primary:hover {
	background-color: #207ebd;
}

#GRBOARD2 .gr-btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

#GRBOARD2 .gr-btn-info:hover {
	background-color: #30b8da;
}

#GRBOARD2 .gr-btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

#GRBOARD2 .gr-btn-danger:hover {
	background-color: #c03f3a;
}

#GRBOARD2 .gr-btn-sm {
	padding: 3px 6px;
	font-size: 12px;
	font-weight: 400;
}

#GRBOARD2 table.gr-table thead tr th {
	padding: 8px;
	line-height: 1.42;
	border-bottom: 2px solid #ddd;
	vertical-align: bottom;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}

#GRBOARD2 table.gr-table tr td {
	padding: 8px;
	line-height: 1.42;
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#GRBOARD2 span.gr-badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;
	margin-left: 5px;
}

#GRBOARD2 ul.gr-pagination {
	margin-top: 10px;
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

#GRBOARD2 ul.gr-pagination li {
	display: inline;
}

#GRBOARD2 ul.gr-pagination li a {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

#GRBOARD2 ul.gr-pagination li:first-child a {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#GRBOARD2 ul.gr-pagination li:last-child a {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#GRBOARD2 ul.gr-pagination li a:hover {
	background-color: #eee;
}

#GRBOARD2 form.gr-form {
	padding: 10px 15px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;	
}

#GRBOARD2 form.gr-left {
	float: left!important;
}

#GRBOARD2 form.gr-form .gr-form-group,
#GRBOARD2 form.gr-form .gr-form-control {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

#GRBOARD2 form.gr-form .gr-form-input {
	margin-bottom: 3px; 
	padding: 5px;
	font-size: 14px;
	line-height: 1.42;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#GRBOARD2 div.gr-panel {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	margin: 0 0 10px 0;
}

#GRBOARD2 div.gr-panel-default {
	border-color: #ddd;
}

#GRBOARD2 div.gr-panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

#GRBOARD2 div.gr-panel-body {
	padding: 15px;
	line-height: 1.6;
}

/* LIST */

#GRBOARD2 table {
	width: 100%;
	border: 0 none;
}

#GRBOARD2 col.no {
	width: 45px;
}

#GRBOARD2 col.name {
	width: 85px;
}

#GRBOARD2 col.date {
	width: 80px;
}

#GRBOARD2 col.hit {
	width: 45px;
}

#GRBOARD2 tr.notice td {
	background-color: #ffffe7;
}

#GRBOARD2 td.no,
#GRBOARD2 td.date,
#GRBOARD2 td.hit {
	font-family: tahoma, sans-serif;
	color: #777;
}

#GRBOARD2 table.gr-table td.subject {
	text-align: left;
}

#GRBOARD2 span.category {
	color: #999;
	font-weight: bold;
	margin-right: 10px;
}

#GRBOARD2 footer {
	position: relative;
}

#GRBOARD2 ul.buttons {
	margin: 0;
	padding: 10px 5px;
	text-align: right;
}

#GRBOARD2 ul.buttons li {
	list-style: none;
	display: inline;
}

#GRBOARD2 .searchBox {
	padding: 20px;
	text-align: center;
}

#GRBOARD2 .searchInput {
	margin: auto;
}

#GRBOARD2 .searchInput input[type=search] {
	width: 200px;
	box-sizing: border-box;
	vertical-align: middle;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#GRBOARD2 .searchInput select {
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	vertical-align: middle;
	padding: 6px 12px;
}

/* VIEW */

#GRBOARD2 h2.title {
	border-bottom: #ddd 2px solid;
	font-size: 14px;
	font-weight: 700;
	padding: 15px;
}

#GRBOARD2 div.info {
	border-bottom: #ddd 1px solid;
	position: relative;
	height: 28px;
}

#GRBOARD2 ul.info {
	position: absolute;
	width: 400px;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	text-align: right;
}

#GRBOARD2 ul.info li {
	display: inline;
	padding: 0 10px 0 0;
	color: #777;
	font-family: tahoma, sans-serif;
}

#GRBOARD2 div.content {
	padding: 15px 0 15px 0;
	line-height: 170%;
	overflow: hidden;
}

#GRBOARD2 div.content ul.fileList {
	padding: 10px;
	margin: -15px 0 10px 0;
	border-bottom: 1px dashed #eee;
}

#GRBOARD2 div.content ul.fileList li {
	list-style: none;
}

#GRBOARD2 ul.fileList li a {
	font-family: Tahoma, sans-serif;
	font-size: 12px;
}

#GRBOARD2 div.content img.download {
	cursor: pointer;
}

#GRBOARD2 div.tag {
	margin: 15px 0 15px 0;
	background-color: #fafafa;
	padding: 5px;
	color: #999;
}

#GRBOARD2 ul.viewBottoms {
	text-align: right;
}

#GRBOARD2 ul.viewBottoms li {
	display: inline;
}

#GRBOARD2 ul.inputs {
	margin: 0;
	padding: 0;
}

#GRBOARD2 ul.inputs li {
	list-style: none;
}

#GRBOARD2 ul.inputs li input {
	font-size: 12px;
	width: 160px;
}

#GRBOARD2 ul.inputs li input[type=checkbox] {
	border: 0 none;
	width: 18px;
	margin: 6px 0;
}

#GRBOARD2 ul.inputs textarea {
	border: #ddd 1px solid;
	padding: 5px;
	font-size: 12px;
	width: 100%;
	height: 100px;
	margin: 10px 0 10px 0;
}

#GRBOARD2 ul.inputs li input[type=submit] {
	font-size: 14px;
	font-weight: 400;
	width: 100%;
}

/* WRITE */

#GRBOARD2 div.boardWriteBox ul li {
	list-style: none;
}

#GRBOARD2 ul.gr2fileList {
	margin: 10px 10px 15px 0px;
}

#GRBOARD2 ul.gr2fileList li {
	list-style: none;
	letter-spacing: -1px;
}

#GRBOARD2 div.boardWriteBox ul li input[type=checkbox] {
	width: 18px;
	border: 0 none;
}

#GRBOARD2 div.boardWriteBox ul li input.longWidth {
	width: 450px;
}

#gr2content {
	width: 500px;
	height: 300px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.42;
}

#gr2dndUpload {
	position: relative;
	border: #ddd 2px dashed;
	text-align: center;
	height: 100px;
	border-radius: 10px;
	margin: 5px 20px 5px 0px;
	color: #aaa;
	width: 510px;
	overflow: auto;
	background-color: #ffffe7;
}

#gr2dndMsg {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #999;
}

#gr2dndUpload img {
	position: relative;
	border: 0 none;
	width: 80px;
	height: 80px;
	float: left;
}

#gr2dndUpload a {
	float: left;
}

#gr2dndUpload.hover {
	border: green 2px dashed;
	color: green;
}

/* DELETE */

#GRBOARD2 div.boardDeleteBox div.deleteMsg {
	padding: 10px;
	margin: 0 0 20px 0;
}

#GRBOARD2 div.boardDeleteBox div.originalMsg {
	margin: 15px 0 0 0;
	border: #eee 1px solid;
	background-color: #ffffe7;
	padding: 10px;
	line-height: 160%;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* COMMON CLASS */

#GRBOARD2 .zero-gap { margin: 0; padding: 0; }
#GRBOARD2 .red { color: red; }
#GRBOARD2 .green { color: green; }
#GRBOARD2 .modifyTime { color: #999; font-size: 11px; }
#GRBOARD2 .clear { clear: left; }
#GRBOARD2 .text-left { text-align: left; }
#GRBOARD2 .text-right { text-align: right; }
